<header>
    <div>
        <div class="carousel-inner">
            <img class="d-block w-100" src="assets/user/home/header1.jpeg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="text-capitalize py-1 typing">{{headerTitleValue}}</h2>
                <p class="text-capitalize pb-2">{{headerParagraphValue}}</p>
                <button class="btn btn-custom font-weight-bold " routerLink="/books">Discover Book</button>
            </div>
        </div>
    </div>
</header>