<app-author-book></app-author-book>
<app-author-book></app-author-book>
<nav aria-label="Page navigation example" style="padding-left: 300px; padding-top: 50px;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#" style="color: red;">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#" style="color: red;">1</a></li>
      <li class="page-item"><a class="page-link" href="#" style="color: red;">2</a></li>
      <li class="page-item"><a class="page-link" href="#" style="color: red;">3</a></li>
      <li class="page-item"><a class="page-link" href="#" style="color: red;">Next</a></li>
    </ul>
</nav>
