<div class="modal fade w-100" id="ratingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog w-100">
        <div class="modal-content w-100">
            <div class="modal-header ">
                <h5 class="modal-title d-block text-center" id="staticBackdropLabel">Rating details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-3 author-form">
                <div id="graph" #graph>
                    <div class="progressBar">
                        <label class="barLabel">5</label>
                        <div class="progressTrack">
                            <div class="progressFill" #progressFill5>
                            </div>
                        </div>
                    </div>

                    <div class="progressBar">
                        <label class="barLabel">4</label>
                        <div class="progressTrack">
                            <div class="progressFill" #progressFill4>
                            </div>
                        </div>
                    </div>

                    <div class="progressBar">
                        <label class="barLabel">3</label>
                        <div class="progressTrack">
                            <div class="progressFill" #progressFill3>
                            </div>
                        </div>
                    </div>

                    <div class="progressBar">
                        <label class="barLabel">2</label>
                        <div class="progressTrack">
                            <div class="progressFill" #progressFill2>
                            </div>
                        </div>
                    </div>

                    <div class="progressBar">
                        <label class="barLabel">1</label>
                        <div class="progressTrack">
                            <div class="progressFill" #progressFill1>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>