<div class="modal fade w-100" id="updateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog w-100">
    <div class="modal-content w-100">
      <div class="modal-header ">
        <h5 class="modal-title" id="staticBackdropLabel">Update Author</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-3 author-form">
        <form class="" id="form" [formGroup]=myForm >
          <i class="fas fa-book-open fa-5x d-block"></i>
          <div class="mb-3 field">
            <label for="first-name" class="form-label">First Name</label>
            <input type="text" formControlName="fName" class="form-control" id="first-name" value="{{author.firstName}}">
          </div>

          <div class="mb-3 field">
            <label for="last-name" class="form-label">Last Name</label>
            <input type="text" formControlName="lName" class="form-control" id="last-name" value="{{author.lastName}}">
          </div>
          <div class="field ">
            <label for="dob" class="form-label">Date Of Birth</label>
            <input type="date" formControlName="dob" class="form-control" id="dob" value="{{author.birthDay}}">
          </div>

          <div class="field">
            <label for="image" class="form-label">Image</label>
            <input type="file" class="form-control" id="image">
          </div>

          <div class="actions text-center">
            <button type="button" class="btn btn-secondary w-25 m-1" data-bs-dismiss="modal">Close</button>
            <button type="submit" routerLink="" (click)="submitForm()" data-bs-dismiss="modal" class="btn btn-danger w-25 m-1">Update Author</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
