/*popular Book Section*/

.container-home{
    max-width: 90%;
    margin: auto;
    padding: 0 20px !important;
}

.popular-book { 
    font-family: 'PT Sans', sans-serif;
}
.popular-book img{
    height: 230px !important;
}
.popular-book a{
    color:#88807C;
}
.popular-book i {
    color:#DE3241 ;font-size: 20px;
}
/*stay in touch section*/
.subscribe{
    background-color: #DE3242;
}

.border{
    background-color: #121212;
    width: 100px; height: 2px;
}

