<app-nav-user></app-nav-user>
<div class="fixed page_content position-absolute">
    <ul class="sidebar">
        <li><a class="intro btn btn-danger mt-1" (click)="goToSection('intro')">Introduction</a></li>
        <li><a class="cookies btn btn-danger mt-2" (click)="goToSection('cookies')">Cookies</a></li>
        <li><a class="licence btn btn-danger mt-2" (click)="goToSection('licence')">License</a></li>
        <li><a class="iframes btn btn-danger mt-2" (click)="goToSection('iframes')">iFrames</a></li>
        <li><a class="accessData btn btn-danger mt-2" (click)="goToSection('access')">Access Data</a></li>
        <li><a class="reports_and_reviews btn btn-danger mt-2" (click)="goToSection('reports_and_reviews')">Reports and Reviews</a>
        </li>
        <li><a class="termination btn btn-danger mt-2" (click)="goToSection('termination')">Termination</a></li>
        <li><a class="ack btn btn-danger mt-2" (click)="goToSection('ack')">Acknowledgement</a></li>
        <li><a class="contact btn btn-danger mt-2" (click)="goToSection('contact')">Contact Us</a></li>
    </ul>
</div>
<div class="terms">
    <section id="intro">
        <h4>Introduction</h4>
        <p>Welcome to Trending Books.</p>
        <p>These terms and conditions outline the rules and regulations for the use of Reading Leaders's Website,
            located at <a href="index.html">www.trendingbooks.com</a></p>
        <p><strong>By accessing Trending Books we assume you accept these terms and conditions.</strong> Do not
            continue to use Trending Books if you do not agree to take all of the terms and conditions stated on
            this page. but please let us know by emailing us at <strong>trendingbooks@gmail.com</strong> so we can
            try to find a solution. These Terms apply to all visitors, users and others who wish to use our
            services.</p>
    </section>
    <section id="cookies">
        <h4>Cookies</h4>
        <p>We employ the use of cookies to suggeest suitable books for you. By having account on Trending Books, you
            agreed to use cookies in agreement with the Reading Leaders's Privacy Policy.</p>
        <p>Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are
            used by our website to enhance the functionality of certain areas to make it easier for people visiting
            our website.</p>
    </section>
    <section id="licence">
        <h4>Licence</h4>
        <p>Reading Leaders and/or its Books own the intellectual property rights for all material on Trending Books.
            All intellectual property rights are reserved. You may access this from Trending Books for your own
            personal use subjected to restrictions set in these terms and conditions.</p>
        <p>You must not:</p>
        <ul class="licence_ul">
            <li>Reuse content included in or made available through our services such as logos, icons, images and
                books.</li>
            <li>Use the content of books without referencing.</li>
            <li>Sell, rent or sub-license material from Trending Books.</li>
            <li>Redistribute content from Trending Books.</li>
        </ul>
        <p><strong>This Agreement shall begin on the date hereof. Our Terms and Conditions were created in
                18/3/2021.</strong></p>
    </section>
    <section id="iframes">
        <h4>IFrames</h4>
        <p><strong>Without prior approval and written permission, you may not create frames around our
                Webpages</strong> that alter in any way the visual presentation or appearance of our Website.</p>
    </section>
    <section id="accessData">
        <h4>Access Data</h4>
        <p> The access data (email address and password, or user name and password) are exclusively for the
            Customer’s own personal use. The Customer may not pass on or otherwise disclose his or her access data
            to third parties. If the Customer obtains knowledge of any misuse of access data, or simply suspects
            such misuse, he or she must immediately report this to Trending Books. </p>
        <p>In the event of any breach of these terms of use and T&, in particular<br>
            - If incorrect data are provided during registration, and/or<br>
            - If access data (esp. the password) is disclosed without authority to do so,<br>
            Trending Books shall be entitled to temporarily or permanently block the Customer’s access data, and/or
            to finally and conclusively refuse the Customer access either with immediate effect or after a period of
            notice fixed at Trending Book’ own discretion, and/or to give extraordinary notice terminating the
            agreement on use with immediate effect. In any such case, the Customer may not re-register as a user
            without Trending Book’ express prior approval.
        </p>
    </section>
    <section id="reports_and_reviews">
        <h4>Reports and Reviews</h4>
        <p><strong>It's forbbiden to use bad language in your reviews</strong> and if you did you'll be panned and
            your account will never be activated once more.</p>
        <p>If you saw any bad language in the reviews you're allowed to report it to the admin using report button
            beside the review.</p>
    </section>
    <section id="termination">
        <h4>Termination</h4>
        <p>We may terminate or suspend your account and bar access to Service immediately, without prior notice or
            liability, under violationg our terms or not being active for 2 years straight so stay in touch.</p>
        <p>If you wish to terminate your account, you may simply discontinue using Service.</p>
        <p>All provisions of Terms which by their nature should survive termination shall survive termination,
            including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of
            liability.</p>
    </section>
    <section id="ack">
        <h4>Acknowledgement</h4>
        <p><strong>BY USING SERVICE OR OTHER SERVICES PROVIDED BY US, YOU ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS
                OF SERVICE AND AGREE TO BE BOUND BY THEM.</strong></p>
    </section>
    <section id="contact">
        <h4>Contact Us</h4>
        <p>Please send your feedback, comments, requests for technical support by email:
            <b>trendingbooks@gmail.com.</b>
        </p>
    </section>
    <p class="m-0 text-center" style="font-size: 12px;">These Terms of Service were created for
        <strong>www.trendingbooks.com</strong> by Reading Leaders company on 2021-03-19.
    </p>
</div>
<app-footer class="fixed-bottom"></app-footer>
