<!--include sidebar and navbar-->
<app-navbar-admin></app-navbar-admin>
<app-admin-sidebar></app-admin-sidebar>
<!---->
<div class="content-page ">
   <section class="category">
        <!--update site-->
        <div class="container">
            <div class="content pt-5">
                <h2>Update Website Content</h2>
                <p>We are glad to see you again!</p>
            </div>
        </div>
        <div class="row w-100 mb-4 mt-5">
            <div class="col">
                <div class="card"  >
                    <img src="/assets/admin/category/art category" class="card-img-top" alt="...">
                    <div class="card-body row w-100 align-items-center">
                        <div class="col-6">Art</div>
                        <div class="col-3"> <button class="btn custom-txt" ><i class="fas fa-edit"></i></button></div>
                        <div class="col-3">  <button class="btn text-danger"  ><i class="fas fa-trash"></i></button></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card"  >
                    <img src="/assets/admin/category/category cooking" class="card-img-top" alt="...">
                    <div class="card-body row w-100 align-items-center">
                        <div class="col-6">Cooking</div>
                        <div class="col-3"> <button class="btn custom-txt" ><i class="fas fa-edit"></i></button></div>
                        <div class="col-3">  <button class="btn text-danger"  ><i class="fas fa-trash"></i></button></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card"  >
                    <img src="/assets/admin/category/science category" class="card-img-top" alt="...">
                    <div class="card-body row w-100 align-items-center">
                        <div class="col-6">Science</div>
                        <div class="col-3"> <button class="btn custom-txt" ><i class="fas fa-edit"></i></button></div>
                        <div class="col-3">  <button class="btn text-danger"  ><i class="fas fa-trash"></i></button></div>
                    </div>
                </div>
            </div>
         
        </div>
        <div class="row w-100 mb-4">
            <div class="col">
                <div class="card"  >
                    <img src="/assets/admin/category/art category" class="card-img-top" alt="...">
                    <div class="card-body row w-100 align-items-center">
                        <div class="col-6">Art</div>
                        <div class="col-3"> <button class="btn custom-txt" data-bs-toggle="modal" data-bs-target="#updateCategory" ><i class="fas fa-edit"></i></button></div>
                        <div class="col-3">  <button class="btn text-danger"  ><i class="fas fa-trash"></i></button></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card"  >
                    <img src="/assets/admin/category/category cooking" class="card-img-top" alt="...">
                    <div class="card-body row w-100 align-items-center">
                        <div class="col-6">Cooking</div>
                        <div class="col-3"> <button class="btn custom-txt" ><i class="fas fa-edit"></i></button></div>
                        <div class="col-3">  <button class="btn text-danger"  ><i class="fas fa-trash"></i></button></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card"  >
                    <img src="/assets/admin/category/science category" class="card-img-top" alt="...">
                    <div class="card-body row w-100 align-items-center">
                        <div class="col-6">Science</div>
                        <div class="col-3"> <button class="btn custom-txt" ><i class="fas fa-edit"></i></button></div>
                        <div class="col-3">  <button class="btn text-danger"  ><i class="fas fa-trash"></i></button></div>
                    </div>
                </div>
            </div>
         
        </div>
   </section>
</div>