<div class="side-bar">

  <div class="header">
    <i class="fas fa-book-open fa-3x"></i>
    <h2>T.Book</h2>
    <hr>
  </div>
  <div class="content">
    <ul class="list-group menu">
      <li class="list-group-item"><i class="fas fa-home"></i>Dashboard</li><hr>
      <li class="list-group-item"><i class="fas fa-user-graduate"></i>Authors</li><hr>
      <li class="list-group-item"><i class="fas fa-book"></i>Books</li><hr>
      <li class="list-group-item"><i class="fas fa-box"></i>Categories</li>

    </ul>
  </div>

</div>
