<footer class="pt-5  m-0 ">
    <div class="container ">
        <div class="row py-5 w-100">
            <div class="col-sm-6 col-md-6 col-lg-3 mb-md-3">
                <h2><span class="italic">Book</span> <span>Trending</span> </h2>
                <p class="mission">{{footerDescriptionValue}} <i class="far fa-smile-wink text-bink"></i></p>
            </div>
            <div class="col-md-6 col-lg-3 mb-md-4 image">
                <a> <img src="assets/user/book/book.jpg" class="w-100 " height="200" alt="best book"></a>
            </div>
            <div class="find  col-md-6 col-lg-3 pl-5">
                <h5>find</h5>
                <p><a routerLink="/aboutUs" href="">About us</a></p>
                <p><a routerLink="/terms" href="">Terms and Conditions</a></p>
                <div class="social-icons">
                    <h5 class="mb-3">Follow us</h5>
                    <i class="fab fa-facebook ml-4 icon"></i>
                    <i class="fab fa-twitter mx-4 icon"></i>
                    <i class="fab fa-linkedin-in icon"></i>
                </div>
            </div>
            <div class="contact col-md-6 col-lg-3">
                <h5 class="mb-3">contact info</h5>
                <p><span> phone: </span>{{phoneValue}}</p>
                <p><span> email: </span>{{emailValue}}</p>
                <p><span> fax: </span>{{faxValue}}</p>
            </div>
        </div>
    </div>
    <p class="text-center custom-background py-4 m-0 text-white"> Made With Love <i class="far fa-heart"></i> By Our Team</p>
</footer>