footer {
    font-family: Nunito, sans-serif;
    background-color: #EEEEEE;
}

.italic {
    font-style: italic;
    font-family: 'Playfair Display';
}

h2 {
    font-size: 48px;
}

p {
    font-size: 20px;
}

footer h2 {
    font-size: 38px;
}

footer h2 span {
    color: #DE3241;
    font-weight: 700;
}

footer h5 {
    color: #121212;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 25px;
}

footer h5:first-of-type {
    font-size: 30px;
}

footer p {
    color: #797980;
}

.mission {
    font-size: 18px;
    line-height: 1.7;
}

.mission i {
    font-size: 24px;
}

.social-icons i {
    color: #DE3241;
}

.social-icons .icon {
    font-size: 18px;
    transition: all 0.3s ease;
}

.social-icons .icon:hover {
    color: #DE3241;
    cursor: pointer;
    padding-left: 8px;
}

.find p {
    line-height: 1;
}

.contact p {
    font-size: 15px;
    line-height: 1.4;
}

.find a {
    color: #121212;
    font-size: 18px;
    text-decoration: underline;
    transition: all 0.3s ease;
}

.find a:hover {
    color: #DE3241;
    cursor: pointer;
    padding-left: 8px;
}

footer .contact span {
    color: #121212;
    font-weight: 900;
}

.custom-background {
    background-color: #121212;
}

.text-bink {
    color: #DE3241;
}

.footer-container {
    max-width: 90%;
    margin: auto;
    padding: 0 20px !important;
}

@media screen and (max-width: 700px) {
    .find,
    .contact,
    .image {
        display: none;
    }
}