.why-choose-us p {
  font-family: "Nunito";
  color: rgb(119, 119, 119);
  line-height: 1.2;
}
.why-choose-us .item {
  border: 1px solid #ebebeb;
  border-radius: 8px;
  padding: 50px 41px 30px 41px;
  transition: all 0.3s ease;
}
.why-choose-us .item:hover {
  box-shadow: 0px 0px 50px 0px rgb(19 19 28 / 12%);
  background-color: #ffffff;
}
.why-choose-us .item:hover .icons {
  background-color: #ff5a5f;
}
.why-choose-us .item:hover .icon {
  color: #ffffff;
}

.why-choose-us .icons {
  background-color: #f7f7f7;
  border-radius: 50%;
  height: 130px;
  line-height: 130px;
  margin: 0 auto;
  width: 130px;
}
.why-choose-us .icon {
  color: #ff5a5f;
  font-size: 68px;
  line-height: 130px;
}
.why-choose-us h4 {
  color: #484848;
  font-weight: bold;
}
.why-choose-us .item .details p {
  font-size: 14px;
  font-family: "Nunito";
  line-height: 2;
}
