<section class="why-choose-us py-5">
    <h2 class="text-center">Why To Choose Us</h2>
    <p class="text-center mb-5">We provide full service at every step.</p>
    <div class="container-custom">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4 " *ngFor="let card of cardData">
                <div class="item">
                    <div class="icons d-flex align-items-center justify-content-center">
                        <i [class]="card.icon"></i>
                    </div>
                    <div class="details text-center">
                        <h4 class="mt-4 mb-2">{{card.title}}</h4>
                        <p>{{card.desc}}</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>