


/**/
.parentContainer{
    margin-top: -12%;
    margin-left: 10%;
}
.card-container{
    margin-left: 15%;
    margin-bottom: 3%;
    background-color: #f5f5f5;
    font-size: 20px;
    padding-bottom: 1%;
    padding-top: 1%;
    border-radius: 25px;
    display: inline-block;
}

.first-star{
    margin-left: 20%;
    color:  #de3242;
}

select{
    width: 50%;
    margin-left: 45%;
    margin-top: 2%;
    border-radius: 25px;
}

.selectHeader{
    background-color: #de3242;

}

.ratingstar1:hover,.ratingstar2:hover,.ratingstar3:hover,.ratingstar4:hover,.ratingstar5:hover{
    color:  #de3242;
}
.author{
    color: #de3242;
    margin-top: 2%;
}

.ratingStars{
    margin-top: 2%;
}
