<app-user-loading *ngIf="!loading"></app-user-loading>
<app-nav-user></app-nav-user>
<div class="parentContainer justify-content-center ">
    <div class="row">
        <div class=" card-container col-lg-4 col-md-5 col-sm-10 col-xxs-12 " *ngFor="let book of bookNames; let i = index">
            <div class="row">
                <div class="book-img col-3">
                    <img src="assets/user/book/{{bookImages[i]}}" alt="" class="w-100">
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="col-8">{{book}}</div>
                        <div class="col-4">{{bookOverallRate[i]}} <i class="fas fa-star first-star"></i> </div>
                    </div>
                    <div class="row author">
                        <div class="col-12">{{bookIAuthor[i]}}</div>
                    </div>
                    <div class="row ratingStars">
                        <!-- <ngb-rating style="color: rgb(250, 225, 0);" [max]="5" [(rate)]="userRate" [readonly]="false"></ngb-rating> -->
                        <div class="col-12">
                            <span *ngFor="let star of [1,2,3,4,5]; let j = index" (click)="submitRate($event , j+1 , myRatingIds[i] , bookIds[i])">
                                <i class="fas fa-star ratingstar1" *ngIf="(j+1)<bookRate[i] || (j+1)==bookRate[i]; else noStar" style="color:  #de3242"></i>
                                <ng-template #noStar>
                                    <i class="fas fa-star ratingstar1"></i>
                                </ng-template>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                      <div class="dropdown" style="margin-top: 50px; margin-left: 5px;">
                        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{bookUserType[i]}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" (click)="changeBookStatus('1',bookIds[i], i)">Want to read</a>
                          <a class="dropdown-item" (click)="changeBookStatus('2',bookIds[i], i)">Is currant read</a>
                          <a class="dropdown-item" (click)="changeBookStatus('3',bookIds[i], i)">Finished reading</a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
