<div class="form-modal">    
    <div class="form-toggle">
        <button id="login-toggle" disabled>login</button>
    </div>

    <div id="login-form">
        <img src="./icon.ico">
        <form>
            <input class="w-100" type="text" class="mt-5" placeholder="Admin name" required/>
            <input class="w-100" type="password" id="l_pass" placeholder="Password" required minlength="8"/>
            <input type="checkbox" id='l_box' class="ml-3 mr-2 mb-4 mt-3"> <b class="mb-4 mt-3">Show Password</b>
            <button type="submit" class="btn login mb-5">login as admin</button>
            <!-- <hr/> -->
        </form>
    </div>
</div>
    

