<app-navbar-admin></app-navbar-admin>
<app-admin-sidebar></app-admin-sidebar>
<div class="content-page">
<section class="author">
  <div class="container">
    <div class="top-part">
      <h2>Author</h2>
      <button type="button" class="add-author" routerLink="store">
        <i class="fas fa-plus"></i>
      </button>
      <div class="author-search">
        <div class="input-group w-50 m-auto">
          <div class="form-outline w-75 ">
            <input type="search" class="form-control" placeholder="Search" #search_box/>
          </div>
          <button id="search-button" (click)="captureSearchContent()" type="button" class="btn search-btn">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <app-authors-list-for-admin [keywords]="keywords"></app-authors-list-for-admin>
  </div>
</section>
</div>
