
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0 col-10">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
        </li>
      </ul>
      <p class="d-inline-block ml-5">Admin |</p>
      <span class="navbar-text">
        <button (click)="logout()" style="border: none;background-color: #de3242; color: white;">
          <i class="fas fa-sign-out-alt fa-1x text-white" ></i> </button>

      </span>
    </div>
  </div>
</nav>
