<app-nav-user></app-nav-user>
<div class="form-modal">
    <div class="form-toggle">
        <button id="login-toggle" onclick="toggleLogin()">login</button>
        <button id="signup-toggle" onclick="toggleSignup()">sign up</button>
    </div>

    <div id="login-form">
        <img src="assets/icon.ico">
        <form>
            <input type="text" class="w-100" placeholder="Username" required />
            <input class="w-100" type="password" id="l_pass" placeholder="Password" required minlength="8" />
            <input type="checkbox" id='l_box' class="ml3 mr-2 mb-2 mt-2"> <b class="mb-4 mt-3">Show Password</b>
            <button type="submit" class="btn login">login</button>
            <hr/>
            <button type="button" class="btn2 -box-sd-effect"> <i class="fa fa-google fa-lg" aria-hidden="true"></i>
                sign in with google</button>
            <button type="button" class="btn2 -box-sd-effect mt-3"> <i class="fa fa-facebook-official fa-lg"
                    aria-hidden="true"></i> sign in with facebook</button>
        </form>
    </div>

    <div id="signup-form">
        <form>
            <input class="w-45 ml3" type="text" placeholder="First name" required />
            <input class="w-45 ml5" tye="text" placeholder="Last name" required />
            <input class="w-45 ml3" type="text" placeholder="Username" required />
            <input class="w-45 ml5" type="email" placeholder="Email" required />
            <input class="w-45 ml3" type="password" name="s_pass" placeholder="Password" required />
            <input class="w-45 ml5" type="password" name="s_pass" placeholder="Confirm password" required /><br>
            <input type="checkbox" id='s_box' class="ml-4 mr-2 mb-4 mt-3"> <b class="mb-4 mt-3">Show Password</b>
            <button type="submit" class="btn signup">create account</button>
            <hr />
            <button type="button" class="btn2 -box-sd-effect"> <i class="fa fa-google fa-lg" aria-hidden="true"></i>
                sign up with google</button>
            <button type="button" class="btn2 -box-sd-effect mt-4"> <i class="fa fa-facebook-official fa-lg"
                    aria-hidden="true"></i> sign up with facebook</button>
        </form>
    </div>

</div>