<!--<app-user-loading *ngIf="!loading"></app-user-loading>-->
<div class="content" *ngIf="!loading; else displayScroll" style="overflow: hidden; width: 100%; height: 100%">
  <app-nav-user></app-nav-user>
  <app-home-header></app-home-header>
  <app-home-popular-book></app-home-popular-book>
  <app-home-subscribe></app-home-subscribe>
  <app-home-author></app-home-author>
  <app-home-top-category></app-home-top-category>
  <app-home-footer></app-home-footer>
</div>

<ng-template #displayScroll>
  <div class="content" *ngIf="loading" style="overflow: auto; width: 100%; height: 100%">
    <app-nav-user></app-nav-user>
    <app-home-header></app-home-header>
    <app-home-popular-book></app-home-popular-book>
    <app-home-subscribe></app-home-subscribe>
    <app-home-author></app-home-author>
    <app-home-top-category></app-home-top-category>
    <app-home-footer></app-home-footer>
  </div>
</ng-template>
