<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->
<app-user-loading *ngIf="!loading"></app-user-loading>
<app-nav-user></app-nav-user>
<div class="myCard">
    <!--<app-author-card [selectedAuthor]="author"></app-author-card>-->
    <div class=" box-part text-center px-3">
        <img class="authorImg" src='{{author.image}}' [alt]='author.name'>
        <hr>
        <div class="title">
            <h4>{{author.name}}</h4>
        </div>
        <div class="text">
            <span>{{booksNum}} Books available. </span>
        </div>
        <div class="text">
            <span>{{author.birthDay | date}} </span>
        </div>
    </div>

</div>
<div class="myBooks">

    <!--      <app-author-book></app-author-book>   -->
    <div class="main authorBook" *ngFor="let authorBook of author.books; index as i">

        <div class="image">
            <img style="margin-top: 2%;" src='/assets/user/book/{{authorBook.bookImage}}' [alt]='authorBook.bookName'>
        </div>
        <div class="info1">
            <p style="color: black;">{{authorBook.bookName}}</p>
            <p style>{{ratings.length}} Ratings</p>
            <i class="fas fa-star" style="color: rgb(255, 60, 0); margin-left: 5px;"></i>
            <i class="fas fa-star" style="color: rgb(255, 60, 0); margin-left: 5px;"></i>
            <i class="fas fa-star" style="color: rgb(255, 60, 0); margin-left: 5px;"></i>
            <i class="far fa-star" style="color: rgb(255, 60, 0); margin-left: 5px;"></i>
            <i class="far fa-star" style="color: rgb(255, 60, 0);"></i>
        </div>
        <div class="info2 w-25">
            <div style="margin-left: 120px; font-size: larger;">
                <p style="display: inline; ">{{ratings|average}}</p>
                <i class="fas fa-star" style="color: red; margin-left: 5px;"></i>
            </div>
            <div class="dropdown" style="margin-top: 90px; margin-left: 35px;">
                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{bookStatus[i]}}
              </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="changeBookStatus('1',authorBook._id, i)">Want to read</a>
                    <a class="dropdown-item" (click)="changeBookStatus('2',authorBook._id, i)">Is currently reading</a>
                    <a class="dropdown-item" (click)="changeBookStatus('3',authorBook._id, i)">Finished reading</a>
                </div>
            </div>
        </div>
    </div>


</div>
