.dashboard{
    padding: 13%  15% 0 30%;
}
p{
    text-shadow: 2px 2px 4px #000000;
    color: #DE3241;
    font-family: 'Playfair Display';
    padding-top: 5px;
    font-size: 25px;
    text-align: center;
    border: 1px solid #DE3241;
    border-radius: 40px;
    margin-bottom: 5%;
    vertical-align: middle;
    height: 8vh;
    width:100%
}
