<app-navbar-admin></app-navbar-admin>
<app-admin-sidebar></app-admin-sidebar>

<section class="dashboard">
    <p class="-box-sd-effect" @fade><i class="fas fa-newspaper" style="color: #DE3241;"></i> Number of Categories: <a href="#">{{data.categories}}</a></p>
    <p class="-box-sd-effect" @fade><i class="far fa-address-book " style="color: #DE3241;"></i> Number of Authors: <a href="#">{{data.authors}}</a></p>
    <p class="-box-sd-effect" @fade><i class="fas fa-book-open" style="color: #DE3241;"></i> Number of Books: <a href="#">{{data.books}}</a></p>
</section>