<!--include sidebar and navbar-->
<app-navbar-admin></app-navbar-admin>
<app-admin-sidebar></app-admin-sidebar>
<!---->
<div class="content-page ">
    <section class="category">
           <!--update site-->
           <div class="container">
                <div class="content pt-5">
                    <h2>Add New Category</h2>
                    <p>We are glad to see you again!</p>
                </div>
           </div>
           <div class="conteiner mt-5">
            <form action="">
                <div class="mb-3">
                    <label for="headerTitel" class="form-label">Category Name</label>
                    <input type="text" class="form-control" id="headerTitel" placeholder="Enter The Categoy Name">
                </div>
                <div class="form-group mb-3">
                    <label for="exampleFormControlFile1">Category Image</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                  </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-custom ">Add</button>
                </div>
            </form>
           </div>
    </section>
</div>