<app-nav-user></app-nav-user>
<section class="book_show">
    <div class="book_cover">
        <img  src="assets/user/book/memories.jpg"><br>
        <button class="btn btn-danger w-75 mt-4">Add to favourits</button>
        <span class="font15 d-block mt-2">Rate This book</span>
        <ngb-rating style="color: rgb(250, 225, 0);" [max]="5" [(rate)]="userRate" [readonly]="false"></ngb-rating>
    </div>
    <section class="details">
        <h2 class="fontPink">{{bookTitle}}</h2>
        <p class="font20 align-self-center">
            <span>Authors: <a class="fontPink" href="#">{{bookAuthor}}</a></span> <br>
            <span>Category: <a class="fontPink" href="#">{{bookCategory}}</a></span> <br>
            <span class="d-inline-block col-3 font17">
                <span >Rate: </span>
                <ngb-rating style="color: rgb(250, 225, 0);" [max]="5" [(rate)]="avgRate" [readonly]="true">
                </ngb-rating> {{avgRate}}
            </span>
            <span class="d-inline-block col-3 font17">
                <img src="assets/user/book/book_details.jpg" style="width: 22px;">
                <pre class="d-inline-block"> </pre>
                <a class="colorBlack" href="#" data-toggle="modal" data-target="modalId">Rating details</a>
            </span>
            <span class="d-inline-block col-3 font17">
                Number of rates: {{ratesNum}}
            </span>
            <span class="d-inline-block col-3 font17">
                Number of reviews: {{reviewsNum}}
            </span><br>
            <span class="d-inline-block font15">
                {{favsNum}} people have added this book to there favourite books list, join them now.
            </span>
        </p>
        <hr>
        <p>{{bookDescribtion}}</p>
    </section>
</section>
<section class="reviews">
    <form action="Post">
        <img class="rev_img" [src]="user_img">
        <textarea class="my_review review_body border-danger" rows="4" placeholder="Write your review about this book." required minlength="1"></textarea>
        <button type="submit" class="btn btn-danger my_review_submit">Publish</button>
    </form>
    <ul>
        <li>
            <img [src]="user_img">
            <p class="review_body">{{dummy_rev}}</p>
        </li>
        <li>
            <img [src]="user_img">
            <p class="review_body">{{dummy_rev}}</p>
        </li>
    </ul>
</section>