@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.book_show {
    margin: 80px 0 0 5%;
    display: inline-block;
    width: 85%;
}

.desc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 15vh;
    line-height: 1.7;
    font-size: 20px;
    text-align: justify;
}

.book_cover {
    width: 15%;
    margin-top: 20px;
    float: left;
    text-align: center;
}

.book_cover img {
    width: 100%;
}

a {
    text-decoration: none;
}

.details {
    margin-left: 17%;
    padding: 15px 20px 0 10px;
}

h2 {
    margin-bottom: 20px;
    display: block;
}

.font20 {
    font-size: 20px;
}

.font15 {
    font-size: 15px;
    color: rgb(88, 88, 88);
}

.font17 {
    font-size: 17px;
}

p,
a:hover,
.colorBlack {
    color: black;
}

ngb-rating {
    outline: none;
}

.reviews {
    width: 90%;
    margin-left: 65px;
    margin-top: 9%;
}

.my_review_submit {
    float: right;
    margin-right: 10px;
}

.rev_img {
    border-radius: 50%;
    width: 8%;
    float:left;
}

.review_body {
    margin-left: 10px;
    width: 90%;
    
}

ul {
    list-style: none;
    margin-top: 80px;
    padding: 0;
}

li {
    margin-left: 10%;
    border: 1px solid rgb(182, 182, 182);
    list-style: none;
    margin-top: 10px;
    padding: 5px;
    display: flex;
}

li img {
    width: 6%;
    border-radius: 50%;
    display: inline-block;
}

li p {
    display: inline;
    margin-left: 1%;
    align-self: center;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #DE3241;
}

.dropdown-item {
    cursor: pointer;
}

label {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
}

h1 {
    font-size: 1.5em;
    margin: 10px;
}


/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
    content: "\f089";

}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 5px;
    font-size: 1.2em;
    font-family: FontAwesome;
    display: inlEMine-block;
    content: "\f005";
}


.rating>label {
    color: #ddd;
    float: right;
}

.rating_field {
    margin-left: 9%;
}

.rating>input:checked~label,

/* show gold star when clicked */

.rating:not(:checked)>label:hover,

/* hover current star */

.rating:not(:checked)>label:hover~label {
    color: #FFD700;
}


/* hover previous stars in list */

.rating>input:checked+label:hover,

/* hover current star when changing rating */

.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,

/* lighten current selection */

.rating>input:checked~label:hover~label {
    color: #FFED85;
}

.span {
    line-height: 2;
}