<app-nav-user></app-nav-user>
<div class="form-modal">
    <div class="form-toggle">
        <button id="login-toggle" onclick="toggleLogin()" disabled >Login as admin</button>
    </div>

    <div id="login-form">
        <img src="assets/icon.ico">
        <form [formGroup]=myForm>
            <input type="text" formControlName="adminName" class="w-100" placeholder="Username" required />
            <input class="w-100" formControlName="adminPassword" type="password" id="l_pass" placeholder="Password" required minlength="8" />
            <input type="checkbox" id='l_box' class="ml3 mr-2 mb-2 mt-2"> <b class="mb-4 mt-3">Show Password</b>
            <input id="submitBtn"type="submit"  [disabled]="myForm.invalid" class="btn login" (click)="login()" value="login" />
        </form>
    </div>

</div>
