   <!--- Admin sidebar-->
   <div class="col-md-2 dashboard-sidebar">
    <ul class="sidebar-menu list-unstyled">
        <li class="logo-icon pt-2"><i class="fas fa-book-open fa-3x"></i></li>
        <li class="header"><span class="header-char">T </span>Book</li>
        <li class="title"><span >Main</span></li>
        <li class="mange" routerLink="/admin/dashboard" routerLinkActive="active"> <a href="#" class ="text-decoration-none"><i class="fas fa-users sm-icon"></i> Dashboard</a></li>
        <li class="title"> <span >Mange Website</span></li>
        <li class="mange" routerLinkActive="active" routerLink="/admin/book"><a class ="text-decoration-none"><i class="fas fa-book-open sm-icon"></i>Books</a></li>
        <li class="mange" routerLinkActive="active" routerLink="/admin/author"><a class ="text-decoration-none"><i class="far fa-address-book sm-icon"></i>Author</a></li>
        <li class="mange" routerLinkActive="active" routerLink="/admin/category"><a class ="text-decoration-none"><i class="fas fa-newspaper sm-icon"></i>Categories</a></li>
        <li class="title">update content</li>
        <li class="mange" routerLinkActive="active" routerLink="/admin/setting"><a class ="text-decoration-none"><i class="fas fa-cogs sm-icon"></i> Settings</a></li>
    </ul>
</div>
<!--Admin Sidbar-->
