   <!--- Admin sidebar-->
   <div class="col-md-2 dashboard-sidebar">
    <ul class="sidebar-menu list-unstyled">
        <li class="logo-icon pt-2"><i class="fas fa-book-open fa-3x"></i></li>
        <li class="header"><span class="header-char ">T </span>Book</li>
        <li class="title"><span >Main</span></li>
        <li class="mange"> <a href="#" class ="text-decoration-none"><i class="fas fa-users"></i> Dashboard</a></li>
        <li class="title"> <span >Mange Website</span></li>
        <li class="mange"><a class ="text-decoration-none" href="#"><i class="fas fa-book-open"></i>Books</a></li>
        <li class="mange"><a class ="text-decoration-none" class="#"><i class="far fa-address-book"></i>Author</a></li>
        <li class="mange"><a class ="text-decoration-none" routerLink="category"><i class="fas fa-newspaper"></i>Categories</a></li>
        <li class="title">update content</li>
        <li class="mange"><a class ="text-decoration-none" href="#"><i class="fas fa-cogs"></i>Settings</a></li>
    </ul>
</div>
<!--Admin Sidbar-->