<div class="side-bar">

  <div class="header">
    <i class="fas fa-book-open fa-3x"></i>
    <h2 class="d-none d-md-block">T.Book</h2>
    <hr>
  </div>
  <div class="content">
    <ul class="list-group menu">
      <li class="list-group-item"><i class="fas fa-home"></i><span class="d-none d-md-block">Dashboard</span></li><hr>
      <li class="list-group-item"><i class="fas fa-user-graduate"></i><span class="d-none d-md-block">Authors</span></li><hr>
      <li class="list-group-item"><i class="fas fa-book"></i><span class="d-none d-md-block">Books</span></li><hr>
      <li class="list-group-item"><i class="fas fa-box"></i><span class="d-none d-md-block">Categories</span></li><hr>
      <li class="list-group-item"><i class="fas fa-cog"></i><span class="d-none d-md-block">Settings</span></li>

    </ul>
  </div>

</div>
