.side-bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 18%;
  bottom: 0;
  background-color: rgb(33, 37, 41);
  color: white;
  text-align: center;
  padding: 20px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.5), 0 1px 5px 0 rgba(0,0,0,0.5);
  font-family: Arial;
}

.side-bar .header svg {
  color: #de3242;
}

.content {
  margin-top: 40%;
}

.content .menu {
  list-style-type: none;
  padding-left: 0;
  font-size: 20px;
}

.content .menu li {
  margin-top: 20px;
  background-color: transparent;
  color: white;
}

.content .menu li svg{
  float: left;
}
