<div class="row">
    <div class="col-2"></div>
    <table class="table col-8">
    <thead class="table-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Date Of Birth</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let author of authors; index as i;">   
            <th scope="row">{{i+1}}</th>
            <td><img src="assets/admin/author/author.svg" class="author-imag"></td>
            <td>{{author.autherFirstName}}</td>
            <td>{{author.autherLastName}}</td>
            <td>{{author.authorDob}}</td>
            <td>
                <button (click)="getAuthor(author)" class="btn custom-txt" data-bs-toggle="modal" data-bs-target="#updateModal"><i class="fas fa-edit"></i></button>
                <button (click)="getAuthor(author)" class="btn text-danger"  data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fas fa-trash"></i></button>
            </td>
        </tr>

    </tbody>
    </table>
</div>

<app-admin-delete  [authorInfo]="mAuthor"></app-admin-delete>
<app-admin-update  [authorInfo]="mAuthor"></app-admin-update>
