
<nav class="navbar navbar-default navbar-expand-md fixed-top scrolling-navbar" data-spy="affix" data-offset-top="205">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="logo d-inline navbar-brand">
                <img src="assets/icon.ico">
                <span class="trending d-inline-block mt-1" style="font-size:25px;">Trending <span class="books"style="font-size:25px;">Books</span></span>
            </div>
            <button class="navbar-toggler bg-danger" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" ></span>
            </button>

            <div class="collapse navbar-collapse fixed-top pt-1" id="myNavbar">
                <ul class="navbar-nav col-6 ml-5" >
                    <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#books">Books</a></li>
                    <li class="nav-item"><a class="nav-link" href="#authors">Authors</a></li>
                    <li class="nav-item"><a class="nav-link" href="#categories">categories</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item d-lg-none d-md-none d-sm-block"><a class="nav-link" href="#categories">Login</a></li>
                    <li class="nav-item d-lg-none d-md-none d-sm-block"><a class="nav-link" href="#about">Register</a></li>
                </ul> 
                <span class="collapse navbar-collapse login  d-md-none  d-sm-none ml-lg-5">
                    <a href="#">Login</a>
                    <pre class="bg-transparent border-0 mt-3">  |  </pre>
                    <a href="#">Register</a>
                </span>
            </div>
        </div>
    </div>
</nav>