
body{ 
    background-repeat: no-repeat;
    font-family: 'PT Sans', sans-serif;
}
a {
    text-decoration: none;
    -ms-transition: all 0.1s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
ul:first-child{margin-left: 32%;}
li{margin: 0 2%;}
nav.logo{
    display: inline-block;
    float: right;
}
nav .logo img{
    float: left;
    height: 45px;
    transition: 0.5s;
}
nav .logo span{
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 30px;
}
nav .logo .books{
    color: #DE3241;
}

nav.navbar-default {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.05);
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
nav.navbar-default.affix {
    background-color:#222;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

nav.navbar-default .navbar-brand {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

nav.navbar-default .navbar-brand:focus, nav.navbar-default .navbar-brand:hover{
    color: #fff !important;
    background-color: transparent;
}

nav.navbar-default .navbar-nav>li>a, .login, pre{
  color:#fff;
  font-family: 'Roboto', sans-serif;
  font-size: 110%;
  text-transform: uppercase;
}

nav.navbar-default .navbar-nav>li>a:focus,
nav.navbar-default .navbar-nav>li>a:hover,
.login a:hover{
    color: #DE3241;
    background-color: transparent;
}
.login a{
    text-decoration: none;
    color: #fff;
}
nav.navbar-default .navbar-nav li a.active,
nav.navbar-default .navbar-nav li a.active:focus,
nav.navbar-default .navbar-nav li a.active:hover {
    font-weight: 700;
    color: #DE3241;
    background-color: transparent;
}
@media (max-width: 767px) {
    .navbar-collapse{
        background-color: rgba(0, 0, 0, 0.3);
        margin-top: 67px;
        align-items: left;
    }
    li{
        float: left;
    }
    .navbar-toggler-icon,.navbar-toggler{
          border: #fff;
    }
  }