
<div class="back">
  <img src="assets/user/book/book-gif.gif">
</div>

<section class="books">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-8 col-xxs-10 book text-center">
        <div class="book-title">
          <p class="mb-2 mt-2">Clean Code</p>
          <hr class="text-danger w-75 m-auto">
        </div>
        <img src="assets/user/book/book-1.jpg" class="book-image mt-3">
        <div class="book-info">
            <p class="mb-2 mt-4">Ahmed Khaled</p>
            <a href="#" class="btn btn-dark">View More</a>
        </div>
        <div class="category">
          <p>Programming</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pagination-section">
  <div class="container">
    <div class="row">
      <nav aria-label="Page navigation example">
        <ul class="pagination w-50">
          <li class="page-item"><a class="" href="#"><i class="fas fa-chevron-circle-left fa-2x"></i></a></li>
          <li class="page-item"><a class="" href="#">1</a></li>
          <li class="page-item"><a class="" href="#">2</a></li>
          <li class="page-item"><a class="" href="#">3</a></li>
          <li class="page-item"><a class="" href="#"><i class="fas fa-chevron-circle-right fa-2x"></i></a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>
