<section class="pagination-section">
    <div class="container">
      <div class="row">
        <nav aria-label="Page navigation example">
          <ul class="pagination w-50">
            <li class="page-item"><a class="" href="#"><i class="fas fa-chevron-circle-left fa-2x"></i></a></li>
            <li class="page-item"><a class="" href="#">1</a></li>
            <li class="page-item"><a class="" href="#">2</a></li>
            <li class="page-item"><a class="" href="#">3</a></li>
            <li class="page-item"><a class="" href="#"><i class="fas fa-chevron-circle-right fa-2x"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>
</section>
