<section class="pagination-section">
    <div class="container">
      <div class="row">
        <nav aria-label="Page navigation example">
          <ul class="pagination w-50">
            <li class="page-item"><a class="" href="#" (click)="changePagination($event, 'back')"><i class="fas fa-chevron-circle-left fa-2x"></i></a></li>          <span *ngFor="let page of paginationPages, let i = index" >
              <li class="page-item"><a class="" href="#" *ngIf="page==currentPage; else noStar" (click)="changePagination($event, page)" style="color:  #de3242"> {{page}} </a></li>
              <ng-template #noStar>
                <li class="page-item"><a class="" href="#" (click)="changePagination($event, page)"> {{page}} </a></li>
              </ng-template>
            </span>            
            <li class="page-item"><a class="" href="#" (click)="changePagination($event, 'next')"><i class="fas fa-chevron-circle-right fa-2x"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>
</section>
