<section class="Mission py-5">
    <div class="container-custom">
        <h2 class="text-center my-5">Our Mission Is To Find All Book Tybes</h2>
        <div class="row w-100">
            <div class="col-lg-8 col-xl-7">
                <p class="large">The Importance of Reading Naturally: Evidence From Combined Recordings of Eye Movements and Electric Brain Potentials</p>
                <p>First, in natural reading, a sustained negativity was found in both syntactic 
                    and semantic violations but only in sentence‐final position and only in trials
                     without regression. These effects clearly demonstrate the added benefit of 
                     coregistration. In the grand mean these negativities were cancelled out by 
                     the stronger P600 effects, but the eye‐tracking signal allowed us
                     separate them out.</p>
                <p >
                    Regarding the ERP responses in word‐by‐word presentation and in natural reading, as Table 5 shows, these were remarkably similar in the two modalities. This shows that results from word‐by‐word reading do largely generalize to free reading. However, there were also some interesting differences demonstrating that coregistration gives us a more comprehensive picture: First, like earlier studies (Dimigen et al., 2011; Kretzschmar et al., 2009), we found that ERP effects appeared earlier in free reading than in word‐by‐word reading. This has been explained in terms of orthographic preactivation through parafoveal preview. Lexical processing basically gets a head start in free reading because visual information about a word enters the system even before the word is first fixated. One important consequence is that researchers have to be careful when they compare the time‐course of effects in RSVP studies to effects found in other experimental paradigms.
                </p>
                <p class="mb-5">Reading is typically an individual activity, done silently, although on occasion a person reads out loud for other listeners; or reads aloud for one's own use, for better comprehension. </p>
                <div class="icons">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-3">
                                    <i class="fas fa-users icon"></i>
                                </div>
                                <div class="col-9">
                                    <div class="details">
                                        <h3>80,123</h3>
                                        <p>Customers to date</p>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-3">
                                    <i class="fas fa-book-open icon"></i>
                                </div>
                                <div class="col-9 ">
                                    <div class="details ">
                                        <h3 class="">98,456</h3>
                                        <p>amazing books</p>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-3">
                                    <i class="far fa-thumbs-up icon"></i>
                                </div>
                                <div class="col-9">
                                    <div class="details">
                                        <h3>30,145</h3>
                                        <p>In Savings</p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                   
                    
                    
                </div>
            </div>
            <div class="col-lg-4 col-xl-5">
                <img src="/assets/user/about-us/about-header.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>