h2{
  font-family: 'Playfair Display';
}
.about-us p {
  font-size: 14px;
  color: #484848;
  line-height: 1.714;
  margin-bottom: 40px;
}
.Mission p:first-of-type {
  color: #484848;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 45px;
}
.Mission p:last-of-type {
  margin-bottom: 40px;
}

.icons .icon {
  color: #de3242;
  font-size: 40px;
  line-height: 1.2;
}
.details h3 {
  font-size: 22px;
  font-family: "Nunito";
  color: #484848;
  font-weight: bold;
  margin-bottom: 0;
}
.details p {
  font-size: 14px;
  font-family: "Nunito";
  color: #484848;
}
