<!-- <app-show-author> </app-show-author> -->
<!-- <app-book-index></app-book-index> -->
<!-- <app-book-store></app-book-store> -->
<!--<app-book-det></app-book-det>-->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-user-profile-header></app-user-profile-header> -->
<!-- <app-user-profile-side></app-user-profile-side> -->
<!-- <app-user-profile-cards></app-user-profile-cards> -->
<!-- <app-user-profile-index></app-user-profile-index>-->
<!-- <app-home-all></app-home-all> -->

<!--<app-admin-author-index></app-admin-author-index>-->
<!--<app-admin-store></app-admin-store> -->
<!--<app-show-author> </app-show-author>-->
<!--<app-book-index></app-book-index>-->
<!--<app-book-store></app-book-store>-->

<!--<app-category-index></app-category-index>-->
<!--<app-category-store></app-category-store>-->
<!--<app-home-all></app-home-all>-->
<!--<app-user-book-index></app-user-book-index>-->
<!-- <app-user-category-index></app-user-category-index> -->
<!-- <app-setting></app-setting> -->
<!--<app-user-category-index></app-user-category-index>-->
<!--<app-about-us></app-about-us>-->
<!--<router-outlet></router-outlet>-->
<!--<app-about-us></app-about-us>-->
<!--<router-outlet></router-outlet>-->

<!--<app-admin-main-book></app-admin-main-book>-->
<!-- <app-admin-author-index></app-admin-author-index>-->
<!--<app-admin-store></app-admin-store>-->
<!-- <app-home-all></app-home-all>-->
<!-- <app-admin-index></app-admin-index> -->
<!-- <app-admin-store></app-admin-store> -->
<!--<app-show-author> </app-show-author>-->
<!-- <app-book-index></app-book-index> -->
<!-- <app-book-store></app-book-store> -->
<!--<app-book-det></app-book-det>-->
<!-- <app-dashboard></app-dashboard>-->
<!-- <app-terms></app-terms>-->
<!-- <app-login-register></app-login-register> -->
