<div class="main">
    <div class="image">
        <img src="https://image.tmdb.org/t/p/w500/g6n8G0xPnBVUIKKK41sNmbZB5h4.jpg" alt="">
    </div>
    <div class="info1">
        <p style="color: black;">Harry Potter and the Order of the Phoenix</p>
        <p style>300 Ratings</p>
        <i class="fas fa-star" style="color: rgb(255, 60, 0); margin-left: 5px;"></i>
        <i class="fas fa-star" style="color: rgb(255, 60, 0); margin-left: 5px;"></i>
        <i class="fas fa-star" style="color: rgb(255, 60, 0); margin-left: 5px;"></i>
        <i class="far fa-star" style="color: rgb(255, 60, 0); margin-left: 5px;"></i>
        <i class="far fa-star" style="color: rgb(255, 60, 0);"></i>
    </div>
    <div class="info2">
        <div style="margin-left: 120px; font-size: larger;">
            <p style="display: inline; ">4.5</p>
            <i class="fas fa-star" style="color: red; margin-left: 5px;"></i>
        </div>
        <div class="dropdown" style="margin-top: 90px; margin-left: 35px;">
            <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Book status
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Is currently reading</a>
                <a class="dropdown-item" href="#">Want to read</a>
                <a class="dropdown-item" href="#">Finished reading</a>
            </div>
        </div>
    </div>
</div>