
<div class="container-fluid justify-content-center ">
<div class="user  col-lg-2 col-md-4 col-sm-10 col-xxs-12 text-center p-3" >
    <img src="assets/user/profile/author-4.jpg" class="user-image rounded-circle border-danger border">
    <h3 class="">Ahmed</h3>
    <ul class="sidebar-menu list-unstyled">
        <!-- <li class="all"><button>All</button></li>
        <li class="read"><button>Read</button></li>

        <li class="current-reading"><button>Current Reading</button></li>
        <li class="want-to-read"> <button>Want to Read</button></li> -->

        <li class="mange"><a class ="text-decoration-none" (click)="selectBooksType($event , 'All')" href="#"><i class="fas fa-chevron-right"></i>  All</a></li>
        <li class="mange"><a class ="text-decoration-none" (click)="selectBooksType($event , 'Read')" href="#"><i class="fas fa-chevron-right"></i>  Read</a></li>
        <li class="mange"><a class ="text-decoration-none" (click)="selectBooksType($event , 'CurrentReading')" href="#"><i class="fas fa-chevron-right"></i>  Current Reading</a></li>
        <li class="mange"><a class ="text-decoration-none" (click)="selectBooksType($event , 'WantToRead')"href="#"><i class="fas fa-chevron-right"></i>  Want ot Read</a></li>
    </ul>
</div>
</div>