<div class="container-fluid justify-content-center ">
<div class="user  col-lg-2 col-md-4 col-sm-10 col-xxs-12 text-center p-3" >
    <img [src]="userImage" class="user-image rounded-circle border-danger border">
    <h4 class="mt-4 mb-5 user-name">{{userName}}</h4>
    <ul class="sidebar-menu list-unstyled">
        <li class="mange"><a class ="text-decoration-none" (click)="selectBooksType($event , 'All')" ><i class="fas fa-chevron-right"></i>  All</a></li>
        <li class="mange"><a class ="text-decoration-none" (click)="selectBooksType($event , 'Read')"><i class="fas fa-chevron-right"></i>  Read</a></li>
        <li class="mange"><a class ="text-decoration-none" (click)="selectBooksType($event , 'CurrentReading')"><i class="fas fa-chevron-right"></i>  Current Reading</a></li>
        <li class="mange"><a class ="text-decoration-none" (click)="selectBooksType($event , 'WantToRead')"><i class="fas fa-chevron-right"></i>  Want ot Read</a></li>
    </ul>
</div>
</div>
