<!--<app-user-loading *ngIf="!loading"></app-user-loading>-->
<section class="top-category my-5 py-5">
    <h2 class="text-center">The Top<span class=""> Category</span></h2>
    <!--<div class="border m-auto"></div>-->
    <p class="main-title text-center">Top Categories and you can find more</p>
    <div class="container-category">
        <div class="row mt-5 w-100">
            <div class="col-md-4 cursor-pointer" *ngFor="let categoryCol of topCategories; index as i" routerLink="/categories">
                <div class="card mb-3">
                    <img class="card-img-top" onerror="this.onerror=null; this.src='/assets/user/category/Health.png'" src="/assets/admin/category/{{categoryCol}}" alt="Card image cap" />
                    <div class="overlay"></div>
                    <div class="card-body text-center text-white " [class]="coleredBackground[i]">
                        <h3 class=" italic">{{categoriesName[i]}}</h3>
                        <p> see your favourite books in <span class="fw-bold">{{categoriesName[i]}}</span> category</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>